.card-text{
    color: rgb(170, 33, 49);
    font-size: 20px;
    
}
.card-body{
    background-color: rgb(61, 215, 107);
}

.col-md-4{
    padding: 40px;
}

body{
    background-image: linear-gradient(90deg,rgb(180, 191, 60) , rgb(97, 199, 75));
}

.card-title{
    font-size: 30px;
}